<?php
return array(
    'error_reporting' => array(
        'subject' => '[Errors][your-app-id-here]',
        'emails' => array(
            'you@domain.com'
        ),
        'from_address' => 'you@domian.com',
        'ignore404' => false,
        'ignoreBot404' => false,
    ),
);